/ LicenceType
- content_for(:edit_button_path, edit_license_type_path(@license_type))
-content_for(:empty_msg, "Currently no #{t('license').pluralize.downcase} associated with this #{t('license_type').singularize.downcase}")

= render 'head'

= show_for @license_type do |f|
  .well
    %b= f.attribute :name
    = f.association :organisation
    = simple_format f.attribute :description
  .well
    = f.association :licence do
      %ul
        - @license_type.licenses.each do |licence|
          %li= link_to license.name, license_path(license.slug)
    - if @license_type.licenses.empty?
      %p= yield(:empty_msg)  
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601