/ Licenses

=render 'head'

- if @licenses.empty?
  %p= empty_msg('license', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th= link_to t('organisation').singularize.humanize, organisations_path
        %th= link_to t('license_type').singularize.humanize, license_types_path
        %th
          = sortable "key"
          %span{:class => 'caret'}
        %th
          = sortable "quantity"
          %span{:class => 'caret'}
        %th
          = sortable "start_at"
          %span{:class => 'caret'}
        %th
          = sortable "end_at"
          %span{:class => 'caret'}
      - @licenses.each do |r|
        %tr
          %td= link_to r.organisation.name, organisation_path(r.organisation.slug)
          %td= link_to r.license_type.name, license_type_path(r.license_type.slug)
          %td= link_to r.key, r
          %td= r.quantity
          %td= r.start_at
          %td= r.end_at
  = paginate @licenses