- content_for(:edit_button_path, edit_license_path(@license))

= render 'head'

= show_for @license do |f|
  = f.association :organisation
  = f.association :license_type
  = f.attribute :quantity
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
