= simple_form_for [@noteable, @note] do |f|
  = f.error_notification
  
  = f.input :content
  
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
  
  = link_to "#{t('cancel')}".humanize, :back