-content_for(:empty_msg, "Currently no #{t('support_level').pluralize.downcase}")

=render 'head'

- if @support_levels.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th= sortable "id"
        %th= sortable "name"
        %th= sortable "hours"
        %th= sortable "days"
        %th= sortable "exclusions"
        %th= sortable "description"
      - @support_levels.each do |r|
        %tr
          %td= r.id
          %td= link_to r.name, r
          %td= r.hours
          %td= r.days
          %td= r.exclusions
          %td= r.description
