= render 'head'

= simple_form_for @supportlevel, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :level, hint: "Support level this will be refered to as", disabled: true
  = f.input :hours, hint: "Supported hours of the day", disabled: true
  = f.input :days, hint: "Supported days of the week", disabled: true
  = f.input :exclusions, hint: "Any support exclusions", disabled: true
  = f.input :description, hint: "Description of the support", disabled: true
  .form-actions
    = link_to 'Change', edit_support_level_path(@supportlevel), :class => "btn btn-primary"
  
