- content_for(:edit_button_path, edit_support_level_path(@supportlevel))

= render 'head'

= show_for @supportlevel do |f|
  = f.attribute :name
  = f.attribute :hours
  = f.attribute :days
  = f.attribute :exclusions
  = f.attribute :description
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
