- content_for(:edit_button_path, edit_support_level_path)

= render 'head'

= show_for @support_level do |f|
  = f.attribute :name
  = f.attribute :hours
  = f.attribute :days
  = f.attribute :exclusions
  = f.attribute :description
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
  = f.association :devices do
    %ul
      - @support_level.devices.each do |device|
        %li= link_to device.name, device_path(device.id)