= simple_form_for(@onemdl_config) do |f|
  = f.error_notification

  .inputs
    = f.input :CompanyName
    = f.input :CompanyTagline
    = f.input :CompanyPhone
    = f.input :CompanyFax
    = f.input :CompanyEmail
    = f.input :CompanyAddress_1
    = f.input :CompanyAddress_2
    = f.input :CompanyCity
    = f.input :CompanyPostCode
    = f.input :CompanyCountry

  .actions
    = f.button :submit
