%h1 Listing onemdl_configs

%table
  %tr
    %th Companyname
    %th Companytagline
    %th Companyphone
    %th Companyfax
    %th Companyemail
    %th Companyaddress 1
    %th Companyaddress 2
    %th Companycity
    %th Companypostcode
    %th Companycountry
    %th
    %th
    %th

  - @onemdl_configs.each do |onemdl_config|
    %tr
      %td= onemdl_config.CompanyName
      %td= onemdl_config.CompanyTagline
      %td= onemdl_config.CompanyPhone
      %td= onemdl_config.CompanyFax
      %td= onemdl_config.CompanyEmail
      %td= onemdl_config.CompanyAddress_1
      %td= onemdl_config.CompanyAddress_2
      %td= onemdl_config.CompanyCity
      %td= onemdl_config.CompanyPostCode
      %td= onemdl_config.CompanyCountry
      %td= link_to 'Show', onemdl_config
      %td= link_to 'Edit', edit_onemdl_config_path(onemdl_config)
      %td= link_to 'Destroy', onemdl_config, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Onemdl config', new_onemdl_config_path
