/ Consoles

=render 'head'

- if @consoles.empty?
  %p= empty_msg('console', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th
          = sortable "type"
          %span{:class => 'caret'}
      - @consoles.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.type
  = paginate @consoles
