- if @comments.empty?
  %p= empty_msg('comment', '')
- else
  - @comments.each do |r|
    %ul.unstyled
      %li
        .well
          .row-fluid
            .span1
              = image_tag "onering.png"
            .span11
              = simple_format r.content
              %br
              .muted
                / who and when did they do it?
                = t('anonymoususer').humanize
                on
                = r.created_at