- content_for(:edit_button_path, edit_operating_system_path)

= render 'head'

= show_for @operating_system do |f|
  = f.attribute :name
  = f.attribute :release
  = f.attribute :family
  = f.association :organisation_id
  = f.attribute :description
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
  = f.association :systems do
    %ul
      - @operating_system.systems.each do |system|
        %li= link_to system.name, system_path(system.id)