/ OperatingSystem
- content_for(:edit_button_path, edit_operating_system_path)

= render 'head'

= show_for @operating_system do |f|
  .well
    %b= f.attribute :name
    = f.attribute :release
    = f.attribute :family
    = f.association :organisation
    = f.attribute :release_date
    = f.attribute :end_of_support
    = simple_format f.attribute :description
  .well
    = f.association :systems do
      %ul
        - @operating_system.systems.each do |system|
          %li= link_to system.name, system_path(system.slug)
    - if @operating_system.systems.empty?
      %p= empty_msg('system', 'operating_system')
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601
