- content_for(:edit_button_path, edit_device_path(@device))

= render 'head'

= show_for @device do |f|
  = f.attribute :name
  = f.attribute :asset_tag
  = f.association :service_level
  = f.association :support_level
  = f.association :device_model
  = f.association :environment
  = f.association :organisation
  = f.attribute :description
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
  = f.association :network_interfaces do
    %ul
      - @device.network_interfaces.each do |network_interface|
        %li= link_to network_interface.ipaddress + " (" + network_interface.name + ")", network_interface_path(network_interface.id)