/ ServiceLevels
-content_for(:empty_msg, "Currently no #{t('service_level').pluralize.downcase}")

=render 'head'

- if @service_levels.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('system').pluralize.humanize, systems_path
      - @service_levels.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.description
          %td= link_to r.systems.count, service_level_systems_path(r.slug)
