/ ServiceLevels
-content_for(:empty_msg, "Currently no #{t('service_level').pluralize.downcase}")

=render 'head'

- if @service_levels.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "id"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('device').pluralize.humanize, devices_path
      - @service_levels.each do |r|
        %tr
          %td= r.id
          %td= link_to r.name, r
          %td= r.description
          %td              
            %ul.unstyled
              - r.devices.each do |device|
                %li= link_to device.name, device_path(device.id)