/ Relationships
-content_for(:empty_msg, "Currently no #{t('@relationship').pluralize.downcase}")

=render 'head'

- if @relationships.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('organisation').pluralize.humanize, organisations_path
      - @relationships.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.description
          %td= link_to r.organisations.count, relationship_organisations_path(r.slug)
  = paginate @relationships