/ Relationships
-content_for(:empty_msg, "Currently no #{t('@relationship').pluralize.downcase}")

=render 'head'

- if @relationships.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "id"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('organisation').pluralize.humanize, organisations_path
      - @relationships.each do |r|
        %tr
          %td= r.id
          %td= link_to r.name, r
          %td= r.description
          %td              
            %ul.unstyled
              - r.organisations.each do |organisation|
                %li= link_to organisation.name, organisation_path(organisation.slug)
