/ Relationship
- content_for(:edit_button_path, edit_relationship_path)
- content_for(:empty_msg, "Currently no #{t('organisation').pluralize.downcase} associated with this #{t('relationship').singularize.downcase}")

= render 'head'

= show_for @relationship do |f|
  .well
    %b= f.attribute :name
    = simple_format f.attribute :description
  .well
    = f.association :organisations do
      %ul
        - @relationship.organisations.each do |organisation|
          %li= link_to organisation.name, organisation_path(organisation.slug)
    - if @relationship.organisations.empty?
      %p= yield(:empty_msg)
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601
