= simple_form_for @organisation do |f|
  = f.error_notification
  
  = f.input :name, hint: "Organisation name"
  = f.input :full_name, hint: "Organisation full name"
  = f.association :relationship,  include_blank: false, prompt: "Choose a relationship",  collection: Relationship.order('name ASC')
  = f.input :active, hint: "Current organisation?", inline_label: 'Yes, remember me'
  = f.input :phone
  = f.input :fax
  = f.input :email, placeholder: 'user@domain.com'
  = f.input       :description,     hint: "#{t('hint_description')} organisation"
  
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
  .btn-group.task_controller
    %a{:class => 'btn btn-danger dropdown-toggle', 'data-toggle' => 'dropdown', :href => '#'}
      #{t('delete')}.humanize
      %span{:class => 'caret'}
    %ul.dropdown-menu
      %li= link_to "Delete '#{f.object.name}'?", @organisation, data: { confirm: 'Are you sure?' }, :method => :delete
  or
  = link_to "#{t('cancel')}".humanize, :back