= simple_form_for @organisation, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :reference, hint: "Organisation reference"
  = f.input :name, hint: "Organisation name"
  = f.input :service_reference, hint: "Service level"
  = f.association :support_level, include_blank: false, hint: "Support level", prompt: "Choose a support level"
  = f.input :relationship
  = f.input :active, hint: "Current organisation?", inline_label: 'Yes, remember me'
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
  or
  = link_to "Cancel", :back