- content_for(:title, t('organisations').humanize)
- content_for(:new_button_path, new_organisation_path)

= render 'layouts/heading'
= render 'layouts/breadcrumb'
= render 'layouts/tabs'

%table.table.table-hover.table-condensed
  %tbody
    %thead
      %th= sortable "id"
      %th= sortable "reference"
      %th= sortable "name"
      %th= sortable "servicelevel"
      %th= sortable "supportlevel"
      %th= sortable "relationship"
      %th= sortable "active"
    - @organisations.each do |o|
      %tr{:class => tr_attributes(o.active)}
        %td= o.id
        %td= link_to o.reference, o
        %td= o.name
        %td= o.servicelevel
        %td= o.supportlevel
        %td= o.relationship
        %td= o.active
