/ Organisations

=render 'head'

- if @organisations.empty?
  %p= empty_msg('organisation', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "slug"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "full_name"
        %th= link_to t('relationship').singularize.humanize, relationships_path
        %th= sortable "phone"
        %th= sortable "active"
        / todo this isn't working
        %th= sortable "person"
        %th= sortable "address"
        %th= sortable "license_type"
        %th= sortable "license"
        %th= sortable "operating_system"
        %th= sortable "system"
        / %th= link_to t('system').pluralize.humanize, systems_path
      - @organisations.each do |r|
        %tr{:class => tr_attributes(r.active)}
          %td= link_to r.slug, r
          %td= r.name
          %td= r.full_name
          %td= link_to r.relationship.name, relationship_path(r.relationship.slug)
          %td= r.phone
          %td= r.active
          %td= link_to r.people.count, organisation_people_path(r.slug)
          %td= link_to r.addresses.count, organisation_addresses_path(r.slug)
          %td= link_to r.license_types.count, organisation_license_types_path(r.slug)
          %td= link_to r.licenses.count, organisation_licenses_path(r.slug)
          %td= link_to r.operating_systems.count, organisation_operating_systems_path(r.slug)
          %td= link_to r.systems.count, organisation_systems_path(r.slug)
  = paginate @organisations
