-content_for(:empty_msg, "Currently no #{t('organisation').pluralize.downcase}")

=render 'head'

- if @organisations.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th= sortable "id"
        %th= sortable "name"
        %th= sortable "full_name"
        %th= sortable "relationship"
        %th= sortable "phone"
        %th= sortable "active"
      - @organisations.each do |r|
        %tr{:class => tr_attributes(r.active)}
          %td= r.id
          %td= link_to r.name, r
          %td= r.full_name
          %td= link_to r.relationship.name, relationship_path(r.relationship_id)
          %td= r.phone
          %td= r.active
  = paginate @organisations