-content_for(:empty_msg, "Currently no #{t('organisations').downcase}")

=render 'head'

- if @organisations.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th= sortable "id"
        %th= sortable "name"
        %th= sortable "full_name"
        %th= sortable "service_level"
        %th= sortable "support_level"
        %th= sortable "relationship"
        %th= sortable "phone"
        %th= sortable "active"
      - @organisations.each do |r|
        %tr{:class => tr_attributes(r.active)}
          %td= r.id
          %td= link_to r.name, r
          %td= r.full_name
          %td= r.service_reference
          %td= r.support_level.name
          %td= r.relationship
          %td= r.phone
          %td= r.active
