- content_for(:title, t('organisations').humanize)

%h1= yield(:title)
 
%table.table.table-hover.table-condensed
  %tbody
    %thead
      %th= t('reference').humanize
      %th= t('name').humanize
      %th= t('service').humanize
      %th= t('support').humanize
      %th &nbsp;
    - @organisations.each do |o|
      %tr
        %td= link_to o.reference, o
        %td= o.name
        %td= o.service
        %td= o.support
        %td <i class="icon-edit"></i>
