= render 'head'

= show_for @organisation do |f|
  = f.attribute :name
  = f.attribute :full_name
  = f.attribute :service_reference
  = f.attribute :name, :in => :support_level
  = f.attribute :relationship
  = f.attribute :active?
  = f.attribute :updated_at
  = link_to "Change", edit_organisation_path(@organisation), :class => "btn btn-primary"