/ Users
-content_for(:empty_msg, "Currently no #{t('user').pluralize.downcase}")

=render 'head'

- if @users.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th Avatar
        %th
          = sortable "id"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th
          = sortable "email"
          %span{:class => 'caret'}
        %th
          = sortable "avatar_url"
          %span{:class => 'caret'}
        %th Admin
      - @users.each do |r|
        %tr
          %td= image_tag avatar_url(r)
          %td= r.id
          %td= r.name
          %td= link_to r.email, r
          %td= r.avatar_url
          %td= r.admin
