-content_for(:empty_msg, "Currently no #{t('device_model').pluralize.downcase}")

=render 'head'

- if @device_models.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th= sortable "id"
        %th= sortable "name"
        %th= sortable "manufacturer"
        %th= sortable "type"
        %th= sortable "description"
      - @device_models.each do |r|
        %tr
          %td= r.id
          %td= link_to r.name, r
          %td= link_to r.manufacturer.name, manufacturer_path(r.manufacturer_id)
          %td= link_to r.device_type.name, device_type_path(r.device_type_id)
          %td= r.description
