/ DeviceModels
-content_for(:empty_msg, "Currently no #{t('device_model').pluralize.downcase}")

=render 'head'

- if @device_models.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= link_to t('manufacturer').singularize.humanize, manufacturers_path
        %th= link_to t('device_type').singularize.humanize, device_types_path
        %th
          = sortable "end_of_sale"
          %span{:class => 'caret'}
        %th
          = sortable "end_of_support"
          %span{:class => 'caret'}

        %th= link_to t('system').pluralize.humanize, systems_path
      - @device_models.each do |r|
        %tr
          %td= link_to r.name, r
          %td= link_to r.manufacturer.name, manufacturer_path(r.manufacturer.id)
          %td= link_to r.device_type.name, device_type_path(r.device_type.id)
          %td= r.end_of_sale
          %td= r.end_of_support
          %td= link_to r.systems.count, device_model_systems_path(r.slug)a