/ DeviceModel
- content_for(:edit_button_path, edit_device_model_path(@device_model))

= render 'head'

= show_for @device_model do |f|
  .well
    %b= f.association :name
    = f.association :manufacturer
    = f.association :device_type
    = f.attribute :end_of_sale
    = f.attribute :end_of_support
    = simple_format f.attribute :description
  .well
    = f.association :systems do
      %ul
        - @device_model.systems.each do |system|
          %li= link_to system.name, system_path(system.slug)
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601