- content_for(:title, t('help').humanize)
- content_for(:subtitle, "Looking for some help?")

.page-header
  %h1= yield(:title)
  %p.lead= yield(:subtitle)

.panel.panel-default
  .panel-heading
    %h3.panel-title
      = Faker::Lorem.word
  .panel-body
    %dl.dl-horizontal
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
.panel.panel-default
  .panel-heading
    %h3.panel-title
      = Faker::Lorem.word
  .panel-body
    %dl.dl-horizontal
      %dt A term goes here
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
      %dt= Faker::Lorem.sentence
      %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)


