- content_for(:title, t('terms_of_service').humanize)
- content_for(:subtitle, 'One Master Device List - Terms of Service')

.page-header
  %h1= yield(:title)
  %p.lead= yield(:subtitle)
.container-fluid
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = Faker::Lorem.word
        .panel-body
          %dl.dl-horizontal
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = Faker::Lorem.word
        .panel-body
          %dl.dl-horizontal
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
  .row
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = Faker::Lorem.word
        .panel-body
          %dl.dl-horizontal
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = Faker::Lorem.word
        .panel-body
          %dl.dl-horizontal
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
            %dt= Faker::Lorem.sentence
            %dd= Faker::Lorem.paragraph(sentence_count = 3, random_sentences_to_add = 10)
