= simple_form_for @device_type, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  
  = f.input :name
  = f.input :description
  
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
  
  .btn-group.task_controller
    %a{:class => 'btn btn-danger dropdown-toggle', 'data-toggle' => 'dropdown', :href => '#'}
      #{t('delete').humanize}
      %span{:class => 'caret'}
    %ul.dropdown-menu
      %li= link_to "#{t('delete')} '#{f.object.name}'?".humanize, @device_type, :confirm => 'Are you sure?', :method => :delete
  or
  = link_to "#{t('cancel')}".humanize, :back