= simple_form_for @devicetype, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name, hint: "Device type"
  = f.input :description, hint: "Description of the device"
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
