= simple_form_for @devicetype, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name, hint: "Device type"
  = f.input :description, hint: "Description of the device"
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
  .btn-group.task_controller
    %a{:class => 'btn btn-danger dropdown-toggle', 'data-toggle' => 'dropdown', :href => '#'}
      Delete
      %span{:class => 'caret'}
    %ul.dropdown-menu
      %li= link_to "Delete '#{@devicetype.name}'?", @devicetype, :confirm => 'Are you sure?', :method => :delete
  or
  = link_to "Cancel", :back