/ DeviceTypes

=render 'head'

- if @device_types.empty?
  %p= empty_msg('device_type', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "slug"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th
          = sortable "description"
          %span{:class => 'caret'}
        %th= link_to t('device_model').pluralize.humanize, device_models_path
      - @device_types.each do |r|
        %tr
          %td= link_to r.slug, r
          %td= link_to r.name, r
          %td= r.description
          %td= link_to r.device_models.count, device_type_device_models_path(r.slug)
  = paginate @device_types