-content_for(:empty_msg, "Currently no #{t('device_types').downcase}")

=render 'head'

- if @devicetypes.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th= sortable "id"
        %th= sortable "name"
        %th= sortable "description"
      - @devicetypes.each do |r|
        %tr
          %td= r.id
          %td= link_to r.name, r
          %td= r.description
