/ DeviceTypes
-content_for(:empty_msg, "Currently no #{t('device_type').pluralize.downcase}")

=render 'head'

- if @device_types.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "id"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= link_to t('device').pluralize.humanize, devices_path
      - @device_types.each do |r|
        %tr
          %td= r.id
          %td= link_to r.name, r
          %td              
            %ul.unstyled
              - r.device_models.each do |device_model|
                %li= link_to device_model.name, device_model_path(device_model.id)
