/ DeviceType
- content_for(:edit_button_path, edit_device_type_path(@device_type))

= render 'head'

= show_for @device_type do |f|
  .well
    %b= f.attribute :name
    = simple_format f.attribute :description
  .well
    = f.association :device_models do
      %ul
        - @device_type.device_models.each do |device_model|
          %li= link_to device_model.name, device_model_path(device_model.slug)
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601