- content_for(:title, t('supportlevels').humanize)
- content_for(:heading, 'List of ' + t('supportlevels').humanize)
- content_for(:new_button_path, new_supportlevel_path)

= render 'layouts/heading'
= render 'layouts/breadcrumb'
= render 'layouts/tabs'

%table.table.table-hover.table-condensed
  %tbody
    %thead
      %th= t('level').humanize
      %th= t('hours').humanize
      %th= t('days').humanize
      %th= t('exclusions').humanize
      %th= t('description').humanize
      %th &nbsp;
    - @supportlevels.each do |sl|
      %tr
        %td= link_to sl.level, sl
        %td= sl.hours
        %td= sl.days
        %td= sl.exclusions
        %td= sl.description
        %td
          .content
          %a{ :title => t('editrecord').humanize, :href => edit_supportlevel_path(sl) }
            %i{ :class => 'icon-pencil' }
          %a{ :title => t('editrecord').humanize, :href => edit_supportlevel_path(sl) }
            %i{ :class => 'icon-pencil' }
          %a{ :title => t('editrecord').humanize, :href => edit_supportlevel_path(sl) }
            %i{ :class => 'icon-pencil' }