=render 'head'

= show_for @onemdlsettings do |f|
  = f.attribute :company_name
  = f.attribute :company_tagline
  = f.attribute :company_phone
  = f.attribute :company_fax
  = f.attribute :company_email
  = f.attribute :company_address_1
  = f.attribute :company_address_2
  = f.attribute :company_city
  = f.attribute :company_postcode
  = f.attribute :company_country
  = f.attribute :updated_at
  = link_to 'Change', onemdl_settings_edit_path, :class => "btn btn-primary"
