/ NetworkInterface
-content_for(:empty_msg, "Currently no #{t('network_interface').pluralize.downcase}")

=render 'head'

- if @network_interfaces.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th
          = sortable "ipaddress"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('network_use').singularize.humanize, network_uses_path
        %th= link_to t('system').singularize.humanize, systems_path
      - @network_interfaces.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.ipaddress
          %td= r.description
          %td= link_to r.network_use.name, network_use_path(r.network_use.id)
          %td= link_to r.system.name, system_path(r.system.slug)
