/ Addresses

=render partial: 'head'

- if @addresses.empty?
  %p= empty_msg('address', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "slug"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= link_to t('organisation').singularize.humanize, organisations_path
        %th
          = sortable "street_address"
          %span{:class => 'caret'}
        %th
          = sortable "street_address"
          %span{:class => 'caret'}
        %th
          = sortable "city"
          %span{:class => 'caret'}
        %th
          = sortable "state"
          %span{:class => 'caret'}
        %th
          = sortable "postcode"
          %span{:class => 'caret'}
        %th
          = sortable "country"
          %span{:class => 'caret'}
      - @addresses.each do |r|
        %tr
          %td= link_to r.slug, r
          %td= link_to r.name, r
          %td= link_to r.organisation.name, organisation_path(r.organisation.slug)
          %td= r.street_address_1
          %td= r.street_address_2
          %td= r.city
          %td= r.state
          %td= r.postcode
          %td= r.country
  = paginate @addresses