/ Addresses

=render partial: 'head'

- if @addresses.empty?
  %p= empty_msg('address', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th
          = sortable "street_address"
          %span{:class => 'caret'}
        %th
          = sortable "street_name"
          %span{:class => 'caret'}
        %th
          = sortable "city"
          %span{:class => 'caret'}
        %th
          = sortable "country"
          %span{:class => 'caret'}
        %th
          = sortable "state"
          %span{:class => 'caret'}
        %th
          = sortable "state_abbr"
          %span{:class => 'caret'}
        %th
          = sortable "time_zone"
          %span{:class => 'caret'}
        %th
          = sortable "postcode"
          %span{:class => 'caret'}
      - @addresses.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.street_address
          %td= r.street_name
          %td= r.city
          %td= r.country
          %td= r.state
          %td= r.state_abbr
          %td= r.time_zone
          %td= r.postcode
  = paginate @addresses