/ Address
- content_for(:edit_button_path, edit_address_path(@address))

= render 'head'

= show_for @address do |f|
  .well
    = f.attribute :name
    = f.attribute :building_number
    = f.attribute :city
    = f.attribute :city_prefix
    = f.attribute :city_suffix
    = f.attribute :country
    = f.attribute :latitude
    = f.attribute :longitude
    = f.attribute :secondary_address
    = f.attribute :state
    = f.attribute :state_abbr
    = f.attribute :street_address
    = f.attribute :street_name
    = f.attribute :street_suffix
    = f.attribute :time_zone
    = f.attribute :postcode
    = f.attribute :description
    
  .well
    = image_tag "https://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@address.latitude}%2C#{@address.longitude}"
    
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601