/ Address
- content_for(:edit_button_path, edit_address_path(@address))

= render partial: 'head'

= show_for @address do |f|
  .well
    = f.attribute :name
    = f.association :organisation
    = f.attribute :street_address_1
    = f.attribute :street_address_2
    = f.attribute :city
    = f.attribute :state
    = f.attribute :postcode
    = f.attribute :country
    = f.attribute :description
    
  .well
    = f.attribute :latitude
    = f.attribute :longitude
    = image_tag "https://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@address.latitude}%2C#{@address.longitude}"
    
  .well.muted
    = f.attribute :created_at, :format => :iso8601
    = f.attribute :updated_at, :format => :iso8601