= simple_form_for @environment, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  
  = f.input :name,        hint: "Enviroment"
  = f.input       :description,     hint: "#{t('hint_description')} environment"
  
  = f.error :base
  = f.button :submit, :class => 'btn btn-primary'
  .btn-group.task_controller
    %a{:class => 'btn btn-danger dropdown-toggle', 'data-toggle' => 'dropdown', :href => '#'}
      #{t('delete')}.humanize
      %span{:class => 'caret'}
    %ul.dropdown-menu
      %li= link_to "Delete '#{f.object.name}'?", @environment, :confirm => 'Are you sure?', :method => :delete
  or
  = link_to "#{t('cancel')}".humanize, :back