- content_for(:title, t('environments').humanize)

%h1= yield(:title)

%table.table.table-hover.table-condensed
  %tbody
    %thead
      %th= t('environments').humanize
      %th= t('description').humanize
      %th= t('edit').humanize
    - @environments.each do |e|
      %tr
        %td= e.environment
        %td= e.description
        %td
          %a{ :title => t('editrecord').humanize, :href => edit_environment_path(e) }
            %i{ :class => 'icon-edit' }
        