- content_for(:title, t('environments').humanize)
- content_for(:new_button_path, new_environment_path)

= render 'layouts/indexheading'

%table.table.table-hover.table-condensed
  %tbody
    %thead
      %th= sort_link @search, :environment, t('environment').humanize
      %th= sort_link @search, :description, t('description').humanize
      %th= sort_link @search, :edit, t('edit').humanize
    - @environments.each do |e|
      %tr
        %td= link_to e.environment, e
        %td= e.description
        %td
          %a{ :title => t('editrecord').humanize, :href => edit_environment_path(e) }
            %i{ :class => 'icon-edit' }
        