/ Environments

=render 'head'

- if @environments.empty?
  %p= empty_msg('environment', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "slug"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('system').pluralize.humanize, systems_path
      - @environments.each do |r|
        %tr
          %td= link_to r.slug, r
          %td= link_to r.name, r
          %td= r.description
          %td= link_to r.systems.count, environment_systems_path(r.slug)
  = paginate @environments