= render 'head'

= show_for @environment do |f|
  = f.attribute :name
  = f.attribute :description
  = f.attribute :updated_at
  = link_to "Change", edit_environment_path(@environment), :class => "btn btn-primary"