- content_for(:edit_button_path, edit_system_path(@system))

= render 'head'

= show_for @system do |f|
  = f.attribute :name
  = f.attribute :asset_tag
  = f.attribute :serial_number
  = f.association :service_level
  = f.association :support_level
  = f.association :device_model
  = f.association :environment
  = f.association :organisation
  = f.association :operating_system
  = f.attribute :description
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
  = f.association :network_interfaces do
    %ul
      - @system.network_interfaces.each do |network_interface|
        %li= link_to "#{network_interface.ipaddress} (#{network_interface.name})", network_interface_path(network_interface.id)