/ OperatingSystemFamily

=render 'head'

- if @operating_system_families.empty?
  %p= empty_msg('operating_system_family', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
      - @operating_system_families.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.description

  = paginate @operating_system_families