/ NetworkUse

=render 'head'

- if @network_uses.empty?
  %p= empty_msg('network_use', '')
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "slug"
          %span{:class => 'caret'}
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('network_interface').pluralize.humanize, network_interfaces_path
      - @network_uses.each do |r|
        %tr
          %td= link_to r.slug, r
          %td= link_to r.name, r
          %td= r.description
          %td= link_to r.network_interfaces.count, network_use_network_interfaces_path(r.slug)

  = paginate @network_uses