/ NetworkUse
-content_for(:empty_msg, "Currently no #{t('network_use').pluralize.downcase}")

=render 'head'

- if @network_uses.empty?
  %p= yield(:empty_msg)  
- else
  %table.table.table-hover.table-condensed
    %tbody
      %thead
        %th
          = sortable "name"
          %span{:class => 'caret'}
        %th= sortable "description"
        %th= link_to t('network_interface').pluralize.humanize, network_interfaces_path
      - @network_uses.each do |r|
        %tr
          %td= link_to r.name, r
          %td= r.description
          %td= link_to r.network_interface.count, network_use_network_interfaces_path(r.slug)
  = paginate @network_uses