/ # OneMDL is a ruby on rails based application designed to collate information
/ # about IT assets. It is designed to be most useful to System Administrators
/ # and Service Desk personal.
/ # 
/ # Copyright (C) 2013-2014 David Marsh
/ # 
/ # This program is free software: you can redistribute it and/or modify
/ # it under the terms of the GNU General Public License as published by
/ # the Free Software Foundation, either version 3 of the License, or
/ # (at your option) any later version.
/ # 
/ # This program is distributed in the hope that it will be useful,
/ # but WITHOUT ANY WARRANTY; without even the implied warranty of
/ # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/ # GNU General Public License for more details.
/ # 
/ # You should have received a copy of the GNU General Public License
/ # along with this program.  If not, see <http://www.gnu.org/licenses/>.

/ Activities
=render 'head'

- if @activities.empty?
  %p= empty_msg('activity', '')
- else
  - @activities.each do |r|
    %ul.unstyled
      %li
        .well
          .row
            .col-md-1
              / put an icon next to their name
              - if r.owner.nil?
                = image_tag "onering.png"
              - else
                = link_to (image_tag avatar_url(r.owner)), r.owner
            .col-md-10
              / who did it?
              - if r.owner.nil?
                = t('anonymoususer').humanize
              - else
                = link_to r.owner.email, r.owner
                
              / what did they do?
              = render_activity r
              
              / where did they do it?
              / in future, this will link to history page:
              = link_to r.trackable_type.tableize.pluralize.humanize, r.trackable_type.tableize
            .row
              .muted.pull-right
                / when did they do it?
                = time_ago_in_words r.created_at
                ago
  = paginate @activities  