-content_for(:empty_msg, "Currently no #{t('activity').pluralize.downcase}")

=render 'head'

- if @activities.empty?
  %p= yield(:empty_msg)  
- else
  - @activities.each do |r|
    %ul
      %li
        - if r.owner_id.nil?
          Someone
        - else
          = r.owner_id
        = render_activity r
        / in future, this will link to history page:
        = link_to r.trackable_type.tableize.pluralize.humanize, r.trackable_type.tableize
        changed
        = time_ago_in_words r.created_at
        - if r.owner_id.nil?
          ago
        - else
          ago by
        = r.owner_id
        \:
        = r.inspect
  = paginate @activities