-content_for(:empty_msg, "Currently no #{t('activity').pluralize.downcase}")

=render 'head'

- if @activities.empty?
  %p= yield(:empty_msg)  
- else
  - @activities.each do |r|
    %ul
      %li
        / who did it?
        - if r.owner_id.nil?
          Someone
        - else
          = r.owner_id
          
        / what did they do?
        = render_activity r
        
        / where did they do it?
        / in future, this will link to history page:
        = link_to r.trackable_type.tableize.pluralize.humanize, r.trackable_type.tableize
        / when did they do it?
        = time_ago_in_words r.created_at
        ago
  = paginate @activities