-content_for(:empty_msg, "Currently no #{t('activity').pluralize.downcase}")

=render 'head'

- if @activities.empty?
  %p= yield(:empty_msg)  
- else
  %ul
    - @activities.each do |r|
      %li
        = time_ago_in_words r.created_at
        = r.id
        = r.trackable_id
        = r.trackable_type
        = render_activity r
        = r.created_at
        