- content_for(:edit_button_path, edit_manufacturer_path(@manufacturer))

= render 'head'

= show_for @manufacturer do |f|
  = f.attribute :name
  = f.attribute :website
  = f.attribute :description
  = f.attribute :created_at, :format => :iso8601
  = f.attribute :updated_at, :format => :iso8601
  