%footer
  %nav
    =link_to 'powered by onemdl', "http://onemdl.com", :class => "muted"
    %ul
      %li
        = link_to yield(:about_path) do
          %i.icon-info-sign
          = t('about').humanize
      %li
        = link_to yield(:contact_path) do
          %i.icon-envelope
          = t('contact').humanize
      %li
        = link_to yield(:faq_path) do
          %i.icon-question-sign
          = t('faq').upcase
      %li
        = link_to "https://github.com/rdmarsh/onemdl/issues" do
          %i.icon-bookmark
          = t('support').humanize
      %li
        = link_to t('news').humanize, "#" do
          %i.icon-bullhorn
          = t('news').humanize
