<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>"><%= Rails.application.class.parent_name.downcase %></a>
      <div class="btn-group pull-right">
        <a class="btn btn-primary btn-small"><i class="icon-user icon-white"></i> Login</a>
        <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icon-plus"></i> Create an account</a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('home').humanize, root_path %></li>
          <li class="<%= 'active' if current_page?(activities_path) %>"><%= link_to t('activity').humanize, activities_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Help
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('help').humanize, help_path %></li>
              <li><%= link_to t('faq').upcase, faq_path %></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>