%ul.nav.nav-list
  %li.nav-header
    Navigation
  %li{ :class => ("active" if controller_name == "device_models") }
    = link_to t('device_model').pluralize.humanize, device_models_path
  %li{ :class => ("active" if controller_name == "organisations") }
    = link_to t('organisation').pluralize.humanize, organisations_path
  %li.divider-vertical
  %li.nav-header
    Supporting Data
  %li{ :class => ("active" if controller_name == "device_types") }
    = link_to t('device_type').pluralize.humanize, device_types_path
  %li{ :class => ("active" if controller_name == "support_levels") }
    = link_to t('support_level').pluralize.humanize, support_levels_path
  %li{ :class => ("active" if controller_name == "environments") }
    = link_to t('environment').pluralize.humanize, environments_path
  %li.divider-vertical
  %li.nav-header
    Configuration
  %li{ :class => ("active" if controller_name == "settings") }
    = link_to t('setting').pluralize.humanize, onemdl_settings_path
  