%p test

.content
  Meeting Informations of
  = info[:name]
  
  %p
    .btn-group
      = link_to "New", [:new, @organisation], :class => "btn"
      = link_to "Edit", [:edit, @organisation], :class => "btn"
      = link_to "Edit", [:edit, @organisation], :class => "btn"
      = link_to "Delete", [:edit, @organisation], :class => "btn btn-danger"
  