/ this drives the navigation menu on the right of the screen
.sidebar-nav
  .navbar.navbar-default{role: "navigation"}
    .navbar-header
      %button.navbar-toggle{"data-target" => ".sidebar-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle sidebar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.visible-xs.navbar-brand
        =t('sidebar_menu').downcase
    .navbar-collapse.collapse.sidebar-navbar-collapse
      %ul.nav
      
        / put the most used views in the top list
        %li.h4 Navigation
        
        %li{ :class => ("active" if controller_name == "organisations") }
          = link_to t('organisation').pluralize.humanize, organisations_path
        %ul.nav
          %li{ :class => ("active" if controller_name == "customers") }
            = link_to t('customer').pluralize.humanize, manufacturers_path
          %li{ :class => ("active" if controller_name == "datacenters") }
            = link_to t('datacenter').pluralize.humanize, manufacturers_path
          %li{ :class => ("active" if controller_name == "manufacturers") }
            = link_to t('manufacturer').pluralize.humanize, manufacturers_path
            %span.badge 1,118
        %li{ :class => ("active" if controller_name == "systems") }
          = link_to t('system').pluralize.humanize, systems_path
          
        / dividing line
        %li.divider
        
        / put the supporting views in this section
        %li.h4 Supporting Data
        
        %li{ :class => ("active" if controller_name == "addresses") }
          = link_to t('address').pluralize.humanize, addresses_path
        %li{ :class => ("active" if controller_name == "consoles") }
          = link_to t('console').pluralize.humanize, consoles_path
        %li{ :class => ("active" if controller_name == "device_models") }
          = link_to t('device_model').pluralize.humanize, device_models_path
        %li{ :class => ("active" if controller_name == "licenses") }
          = link_to t('license').pluralize.humanize, licenses_path
        %li{ :class => ("active" if controller_name == "network_interfaces") }
          = link_to t('network_interface').pluralize.humanize, network_interfaces_path
        %li{ :class => ("active" if controller_name == "operating_systems") }
          = link_to t('operating_system').pluralize.humanize, operating_systems_path
          
        / dividing line
        %li.divider
        
        / put any meta data in this section
        %li.h4 Meta Data
        
        %li{ :class => ("active" if controller_name == "device_types") }
          = link_to t('device_type').pluralize.humanize, device_types_path
        %li{ :class => ("active" if controller_name == "environments") }
          = link_to t('environment').pluralize.humanize, environments_path
        %li{ :class => ("active" if controller_name == "license_types") }
          = link_to t('license_type').pluralize.humanize, license_types_path
        %li{ :class => ("active" if controller_name == "network_uses") }
          = link_to t('network_use').pluralize.humanize, network_uses_path
        %li{ :class => ("active" if controller_name == "operating_system_families") }
          = link_to t('operating_system_family').pluralize, operating_system_families_path
        %li{ :class => ("active" if controller_name == "relationships") }
          = link_to t('relationship').pluralize.humanize, relationships_path
        %li{ :class => ("active" if controller_name == "service_levels") }
          = link_to t('service_level').pluralize.humanize, service_levels_path
        %li{ :class => ("active" if controller_name == "support_levels") }
          = link_to t('support_level').pluralize.humanize, support_levels_path
          
        / dividing line
        %li.divider
        
        / put any application configuration in this section
        %li.h4 Configuration
        
        %li{ :class => ("active" if controller_name == "users") }
          = link_to t('user').pluralize.humanize, users_path
        %li{ :class => ("active" if controller_name == "announcements") }
          = link_to t('announcement').pluralize.humanize, announcements_path