/ this drives the navigation menu on the right of the screen

%ul.nav.nav-list.fill
  / put the most used views in the top list
  %li.nav-header
    Navigation
    
  %li{ :class => ("active" if controller_name == "systems") }
    = link_to t('system').pluralize.humanize, systems_path
    
  %li{ :class => ("active" if controller_name == "network_interfaces") }
    = link_to t('network_interface').pluralize.humanize, network_interfaces_path
    
  %li{ :class => ("active" if controller_name == "device_models") }
    = link_to t('device_model').pluralize.humanize, device_models_path
    
  %li{ :class => ("active" if controller_name == "licenses") }
    = link_to t('license').pluralize.humanize, licenses_path
    
  / divider
  %li.divider-vertical
  
  / put the organisation views in their own section 
  %li.nav-header
    = t('organisation').pluralize.humanize
    
  %li{ :class => ("active" if controller_name == "organisations") }
    = link_to t('organisation').pluralize.humanize, organisations_path
  
  %li{ :class => ("active" if controller_name == "manufacturers") }
    = link_to t('manufacturer').pluralize.humanize, manufacturers_path
  
  / divider
  %li.divider-vertical
  
  / put the supporting views in their own section 
  %li.nav-header
    Supporting Data
    
  %li{ :class => ("active" if controller_name == "device_types") }
    = link_to t('device_type').pluralize.humanize, device_types_path
    
  %li{ :class => ("active" if controller_name == "environments") }
    = link_to t('environment').pluralize.humanize, environments_path
    
  %li{ :class => ("active" if controller_name == "license_types") }
    = link_to t('license_type').pluralize.humanize, license_types_path
    
  %li{ :class => ("active" if controller_name == "network_uses") }
    = link_to t('network_use').pluralize.humanize, network_uses_path
    
  %li{ :class => ("active" if controller_name == "operating_systems") }
    = link_to t('operating_system').pluralize.humanize, operating_systems_path
    
  %li{ :class => ("active" if controller_name == "relationships") }
    = link_to t('relationship').pluralize.humanize, relationships_path
    
  %li{ :class => ("active" if controller_name == "service_levels") }
    = link_to t('service_level').pluralize.humanize, service_levels_path
    
  %li{ :class => ("active" if controller_name == "support_levels") }
    = link_to t('support_level').pluralize.humanize, support_levels_path
    
  %li.divider-vertical
  
  / put any application configuration in this section
  %li.nav-header
    Configuration
    
  %li{ :class => ("active" if controller_name == "users") }
    = link_to t('user').pluralize.humanize, users_path
    
  %li{ :class => ("active" if controller_name == "announcements") }
    = link_to t('announcement').pluralize.humanize, announcements_path
