.row-fluid
  .span12
    .tabbable
      %ul.nav.nav-tabs
        %li
          = link_to yield(:list_button_path) do
            %i.icon-th-list
            = t('list').humanize
        %li
          = link_to yield(:new_button_path) do
            %i.icon-plus
            = t('new').humanize
        %li
          %a{ :title => "Show", :href => "#" } 
            %i.icon-info-sign
            Show
        %li
          = link_to yield(:edit_button_path) do
            %i.icon-pencil
            = t('edit').humanize
        %li
          %a{ :title => "History", :href => "#" } 
            %i.icon-book
            History
        %li.dropdown.pull-right
          %a.dropdown-toggle{:'data-toggle' => "dropdown", :title => "Export", :href => "#" }
            %i.icon-share-alt
            Export
            %b.caret
          %ul.dropdown-menu
            %li
              %a{ :title => "CSV", :href => "#" }
                %i.icon-file
                CSV
            %li
              %a{ :title => "PDF", :href => "#" } 
                %i.icon-file
                PDF
            %li
              %a{ :title => "Print", :href => "#" }
                %i.icon-print
                Print