.row
  .span12
    .tabbable
      %ul.nav.nav-tabs
        = tab_link 'index', yield(:index_tab), 'icon-th-list', nil
        
        = tab_link 'new', yield(:new_tab), 'icon-plus', nil
        
        - if params.has_value?("show") or params.has_value?("edit")
          = tab_link 'show', yield(:show_button_path), 'icon-info-sign', nil
          = tab_link 'edit', yield(:edit_button_path), 'icon-pencil', nil
          = tab_link 'notes', yield(:notes_button_path), 'icon-tag', nil
        - else
          = tab_link 'show', nil, 'icon-info-sign', "disabled"
          = tab_link 'edit', nil, 'icon-pencil', "disabled"
          = tab_link 'notes', nil, 'icon-tag', "disabled"
        
        = tab_link 'graphs', yield(:graph_button_path), 'icon-signal', nil
        = tab_link 'history', yield(:history_button_path), 'icon-book', nil
        %li.dropdown.pull-right
          %a.dropdown-toggle{:'data-toggle' => "dropdown", :title => "Export", :href => "#" }
            %i.icon-share-alt
            Export
            %b.caret
          %ul.dropdown-menu
            %li
              %a{ :title => "xml", :href => request.original_url + ".xml" }
                %i.icon-file
                xml
            %li
              %a{ :title => "json", :href => request.original_url + ".json" }
                %i.icon-file
                json
            %li
              %a{ :title => "csv", :href => request.original_url + ".csv" }
                %i.icon-file
                csv
            %li
              %a{ :title => "pdf", :href => request.original_url + ".pdf" }
                %i.icon-file
                pdf
            
            %li.divider
            
            %li
              %a{ :title => "Print", :href => "#" }
                %i.icon-print
                print
            %li
              %a{ :title => "Email", :href => "#" }
                %i.icon-print
                email
