<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span3'>
          <div class='well sidebar-nav'>
            <%= render 'layouts/header' %>
            <%= render 'layouts/navlist' %>
          </div>
        </div>
        <div class='span9'>
          <div class='row-fluid'>
            <div class='content'>
              <h1>title</h1>
              <%= render 'layouts/breadcrumb' %>
              <%= yield %>
              <%= render 'layouts/footer' %>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>