<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render 'layouts/shim' %>
    <!-- rss feeds -->
    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag %>
  </head>
  <body>
    <!-- as per railscasts 103 -->
    <% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
      <%= div_for announcement do %>
        <%= announcement.message %>
        <%= link_to "hide announcement", hide_announcement_path(announcement) %>
      <% end %>
    <% end %>
    <!-- render header including topbar -->
    <%= render 'layouts/header' %>
    <div class='container-fluid'>
      <div class='row-fluid'>
        <div class='span3'>
          <div class="well sidebar-nav">
            <%= render 'layouts/side_nav_list' %>
          </div>
        </div>
        <div class='span9'>
          <div class='row-fluid'>
            <div class='content'>
              <%= render 'layouts/flash_messages' %>
              <%= yield %>
            </div>
            <div class='row-fluid'>
              <%= render 'layouts/footer' %>
            </div>
          </div>
          <!-- render speed of page -->
          <div class="row-fluid">
            <%= render 'layouts/render_speed' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>      