!!! 5
%html{html_attrs}
  %head
    %title=full_title(yield(:title))
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
    %link{ :href => "css/sass-bootstrap.css", :media => "screen", :rel => "stylesheet" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = render 'layouts/shim'
    = auto_discovery_link_tag(:atom, "/feed")
    = auto_discovery_link_tag(:rss, "/feed.rss")
    = csrf_meta_tags
    = favicon_link_tag
  %body
    = render 'layouts/header'
    <!-- announchement as per railscasts 103 -->
    <!-- render main content -->
    .container
      .row
        .col-sm-3.col-md-2.sidebar
          = render 'layouts/side_nav_list'
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          .row
            .content
              = render 'layouts/flash_messages'
              = yield
    %footer
      = render 'layouts/footer'
-#    %= Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
-#      .row
-#        .alert.text-center
-#          <%= div_for announcement do %>
-#            <%= announcement.message %>        
-#            <%= link_to "x", hide_announcement_path(announcement), class: "close", remote: true %>
-#          <% end %>
-#        </div>
-#      </div>
-#    <% end %> 
            