!!! 5
%html{html_attrs}
  %head
    %title=full_title(yield(:title))
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }
    %link{ :href => "css/sass-bootstrap.css", :media => "screen", :rel => "stylesheet" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = render 'layouts/shim'
    = auto_discovery_link_tag(:atom, "/feed")
    = auto_discovery_link_tag(:rss, "/feed.rss")
    = csrf_meta_tags
    = favicon_link_tag
  %body
    = render 'layouts/navbar'
    = render 'layouts/sidebar'
    = render 'layouts/dashboard'
    = render 'layouts/footer'